.App {
  text-align: center;
  color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar {
  text-align: center;
  color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .Home{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

a:link {
  color: red;
}

a:visited {
  color: green;
}

.Table {
  
  color: darkblue;
  text-align: center;
  margin: 50px auto;
  border: 2px cornflowerblue;
  background-color: rgba(191, 205, 231, 0.353);
  border-radius: 20px;
  width: 275px;
}

h1 { /* This is for the page HEADER (Arrivals for {iata})*/
  font-size: 60px;
  color: cyan;
}

p { /* This is for Powered by AirLabs API.*/
  font-size: 10px;
  color: cyan;
}

th {  /* This is for the header inside the tables  */
  color: cyan;
  border-radius: 4px;
  font-size: 30px;
}

td {  /*  This is for the rest of the text inside tables */
  font-size: 30px;
  color: darkblue;
}

body {  /* This is the whole page background */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.About {
  font-size: 100px;
  
} 

.loading {
  text-align: center;
  color: #61dafb;
  margin: 300px auto;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 500px) {
  .Table {
    width: 100%;
  }
  .About {
    font-size: 50px;
  } 
}