.App {
  text-align: center;
  color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar {
  text-align: center;
  color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .Home{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

a:link {
  color: red;
}

a:visited {
  color: green;
}

.Table {
  text-align: center;
  margin: 50px auto;
  border: 2px brown solid;
  border-radius: 4px;
  width: 375px;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

th {
  /* border: 2px brown solid; */
  border-radius: 4px;
  font-size: 30px;
}

td {
  font-size: 20px;
}

body {
  background-color: #282c34;
}

.loading {
  text-align: center;
  color: #61dafb;
  margin: 300px auto;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 375px) {
  .Table {
    width: 100%;
  }
}